<div class="hidden lg:flex h-full relative">
  <!-- Main menu bar -->
  <div class="flex flex-col gap-4 bg-gray-900 text-white p-4 z-10">
    <i class="fa-solid fa-bars"></i>
    <div class="flex flex-col items-center justify-center flex-auto gap-10">
      <i
        *ngFor="let items of menuItemsList"
        (click)="toggleSubmenu(items.name)"
        [ngClass]="[
          items.icon,
          items.active || items.name === activeMenu ? 'text-primary-500' : '',
          'cursor-pointer text-gray-300/50 hover:text-gray-100 transition-all'
        ]"
        routerLinkActive="text-primary-500"
      >
      </i>
    </div>
    <!-- theme button -->
    <div class="flex items-center">
      <button class="focus:outline-none" (click)="toggleTheme()">
        <i *ngIf="isDarkMode" class="fas fa-moon text-yellow-400 text-2xl"></i>
        <i *ngIf="!isDarkMode" class="fas fa-sun text-yellow-400 text-2xl"></i>
      </button>
    </div>
  </div>
  <!-- Sub menu bar -->
  <div
    class="bg-gray-300 transition-all ease-in-out delay-150 overflow-hidden"
    [ngClass]="{
      'translate-x-0 w-64 p-4': activeMenu !== null,
      '-translate-x-64 w-0': activeMenu === null
    }"
  >
    <i
      class="fa-solid fa-chevron-left cursor-pointer opacity-70 transition-opacity hover:opacity-100"
      (click)="toggleSubmenu(null)"
      [ngStyle]="{ opacity: activeMenu === null ? '70' : '100' }"
    ></i>
    <ul>
      <!-- Contenido de los submenús -->
      <li
        *ngFor="let subItems of subMenuItemsList"
        class="cursor-pointer opacity-70 transition-opacity hover:opacity-100"
      >
        <a
          [routerLink]="subItems.route"
          class="block px-4 py-2 text-sm text-gray-700"
        >
          {{ subItems.name }}
        </a>
      </li>
    </ul>
  </div>
</div>
