<div class="flex justify-between bg-white dark:bg-slate-800 p-2">
  <div class="flex gap-4">
    <button
      (click)="openMobileMenu()"
      type="button"
      class="lg:hidden inline-flex items-center justify-center rounded-md p-2 text-gray-400 focus:outline-none"
      aria-expanded="false"
    >
      <!-- A11y -->
      <span class="sr-only">Open menu</span>
      <i class="fa-solid fa-bars"></i>
    </button>
    <!-- First part -->
    <div class="hidden md:flex items-center">
      <!-- items -->
      <div class="ml-10 flex items-baseline space-x-4 mr-6">
        <a
          href="#"
          class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
          >Team</a
        >
        <a
          href="#"
          class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
          >Projects</a
        >
        <a
          href="#"
          class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
          >Calendar</a
        >
        <a
          href="#"
          class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
          >Reports</a
        >
      </div>
      <!-- line -->
      <div class="h-full border-l border-gray-300 mr-3"></div>
      <!-- search -->
      <div class="ml-2">
        <div class="relative">
          <input
            type="search"
            id="exampleSearch"
            placeholder="Type query"
            class="pl-10 pr-3 py-2 w-64 rounded-lg border border-gray-300 focus:outline-none focus:ring-none dark: dark:bg-slate-800 dark:border-gray-400 dark:text-gray-100"
          />
          <i
            class="fa-solid fa-magnifying-glass absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
          ></i>
        </div>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center gap-2 mr-6">
    <!-- second part -->
    <i class="fa-solid fa-bell text-xl dark:text-gray-400"></i>
    <!-- Profile dropdown -->
    <div class="relative ml-3">
      <div>
        <button
          type="button"
          class="user-picture-profile"
          id="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
          aria-expanded="false"
          aria-haspopup="true"
        >
          <span class="absolute -inset-1.5"></span>
          <span class="sr-only">Open user menu</span>
          <img
            class="h-8 w-8 rounded-full"
            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            alt=""
          />
        </button>
      </div>
    </div>
    <span class="text-xs lg:text-xl dark:text-gray-400">MANZANA PEREZ </span>
    <app-navbar-user-menu></app-navbar-user-menu>
  </div>
</div>

<app-navbar-mobile-menu
  [isOpen]="isOpenMobileMenu"
  (close)="closeMobileMenu()"
></app-navbar-mobile-menu>
